@import 'https://unpkg.com/svbstrate@4.1.0/dist/svbstrate.css';

.page-container {
  height: 100vh;
}
.slider-wrapper {
  max-width: 800px;
}
.slider {
  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    border: 4px dashed #333;
  }

  > div {
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0; bottom: 0; left: 0; right: 0;
      border: 4px dotted white;
    }
  }
}
.slide {
  height: 100vh;
  opacity: 0.3;
  transition: opacity 400ms ease-in-out;

  &.is-selected {
    opacity: 1;
  }

  @media (min-width: 800px) {
    height: auto;
    padding-top: 66.66666%;
  }

  img {
    object-fit: cover;
  }
}
.prev, .next {
  height: 50px;
  width: 50px;
  background: #333;
  color: white;
  margin: auto 30px;
  border-radius: 100px;

  svg {
    width: 16px;
    height: 16px;
  }
}
.prev {
  left: 0;
  transform: rotate(180deg);
}
.next {
  right: 0;
}
